<Config>
  <LogLevel>Info</LogLevel>
  <Port>8989</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>d36a50d4dcee482b8fe7cfb595b6698f</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>master</Branch>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>